/**
* Lightbox
*/

#lightbox {
    border: none;
    background: none;
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#lightbox[open] {
    opacity: 1;
}

#lightbox::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

#lightbox[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

#lightbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}